#hero {
    position: relative;
    width: 100%;
    color: $white;
    margin-bottom: 100px;
    overflow-y: hidden;

    .video-background {
        position: absolute;
        width: 100%;
        object-fit: cover;
        top: 0px;
        left: 0px;
        z-index: -3;
    }

    &:after {
        content: '';
        background: rgba($light-grey, 85%);
        position: absolute;
        top:0px;
        right: 0px;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    .gamepad {
        position: relative;
        width: 35%;
        height: 35vw;
        padding-top: 2.5%;
        background: $blue;

        &:after {
            content: '';
            background: $blue;
            position: absolute;
            top:0px;
            right: -45px;
            width: 20%;
            height: 100%;
            transform: skew(4deg);
            z-index: -1;
        }


        div {
            width: 97%;
            transform: translateX(-10%) rotate(228deg);

            img {
                width: 100%;
            }
        }
    }

    .text-container {
        position: absolute;
        top: 50%;
        right: 0px;
        width: 61%;
        transform: translateY(-50%);

        h1 {
            font-size: 5vw;
            padding-bottom: 0px;
        }

        p {
            text-align: center;
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }
}