#homepage {
    h1 {
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
        color: $white;
    }

    .basecard-container {
        &:first-of-type {
            .basecard {
                margin-top: 0px;
            }
        }
    }
}

@import './_hero';
@import './cards/_xbox';
@import './cards/_playstation';
@import './cards/_epic';