#homepage {
    h1 {
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
    }

    // First card no slant 
    .basecard-container {
        &:first-of-type {
            .basecard {
                margin-top: 0px;
            }
        }

        &:nth-of-type(odd) {
            .basecard {
                &::before {
                    background: transparent;
                }
            }
        }

        &:nth-of-type(even) {
            .basecard {
                &::after {
                    background: transparent;
                }
            }
        }
    }
}

@import './_hero';
@import './cards/_xbox';
@import './cards/_playstation';
@import './cards/_epic';