$left-logo-max-width: 350px;

@mixin basecard {
    .basecard {
        width: 100%;
        margin: 100px 0px;
        background: $grey-gradient;
        color: $white;

        @media only screen and (min-width: 768px) {
            // Grid
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 2fr max-content;
            margin: 140px 0px;
        }

        .card-left {
            background: $blue-gradient;
            position: relative;
            z-index: 2;
            padding: 15px 0px;

            @media only screen and (min-width: 768px) {
                &:after {
                    content: '';
                    background: $blue-gradient;
                    position: absolute;
                    top:0px;
                    right: -32px;
                    width: 70px;
                    height: 100%;
                    transform: skew(-4deg);
                }
            }

            // Grid
            grid-row-start: 1;
            grid-row-end: 3;

            // Flex
            display: flex;
            align-items: center;
            justify-content: center;

            .logo-container {
                width: 90%;
                max-width: $left-logo-max-width;
                z-index: 2;

                img {
                    width: 100%;
                }
            }
        }

        .card-right {
            background: transparent;
            width: 90%;
            margin-left: 7%;
            margin-bottom: 15px;
            margin-top: 15px;
            overflow-x: auto;
            z-index: 1;

            // Scroll Bar
            &::-webkit-scrollbar {
                height: 10px;
            }
            
            // Track
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px lightgrey;
                border-radius: 10px;
            }
            
            // Handle
            &::-webkit-scrollbar-thumb {
                background: $blue-gradient;
                border-radius: 10px;
            }
           
            .img-container {
                // Flex
                display: flex;
                padding: 25px 0px;
                gap: 5%;

                .img-card {
                    flex-shrink: 0;
                    width: 60%;

                    @media only screen and (min-width: 768px) {
                        width: 27%;
                    }

                    &:first-child {
                        margin-left: auto;
                    }
    
                    &:last-child {
                        margin-right: auto;
                    }

                    .img-container {
                        position: relative;

                        .img {
                            width: 100%;
                        }
    
                        .date {
                            background: $blue-gradient;
                            position: absolute;
                            width: 100%;
                            bottom: 0px;
                            left: 0px;
                            padding: 1.5%;
                            text-align: center;
                            text-transform: capitalize;
                        }
                    }

                    h3 {
                        text-transform: capitalize;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}