// Variables
$white: #FFFFFF;
$black: #000000;
$grey: #242424;
$purple: #1592CA;
$hover: #007EB4;

// Css Reset
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: $white;
}

body {
   // Scroll Bar
   &::-webkit-scrollbar {
    width: 10px;
  }

  // Track
  &::-webkit-scrollbar-track {
      background: $grey;
  }

  // Handle
  &::-webkit-scrollbar-thumb {
      background: $purple;
      border-radius: 10px;
  }
}

// Imports

// Layouts
@import "./layouts/_footer";

// Homepage
@import "./homepage/_homepage";