// Variables
$white: #FFFFFF;
$black: #1B2021;

$grey: #3b3e45;
$dark-grey: #0d0e10;
$light-grey: #25272D;
$blue: #055C9E;
$hover: #007EB4;

$blue-gradient: linear-gradient(180deg, hsla(206, 94%, 32%, 1) 0%, hsla(206, 94%, 40%, 1) 100%);
$grey-gradient: radial-gradient(circle, hsla(220, 10%, 6%, 1) 0%, hsla(225, 10%, 16%, 1) 100%);

// Css Reset
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: $white;
}

body {
  background: $dark-grey;

   // Scroll Bar
   &::-webkit-scrollbar {
    width: 10px;
  }

  // Track
  &::-webkit-scrollbar-track {
      background: $black;
  }

  // Handle
  &::-webkit-scrollbar-thumb {
      background: $blue-gradient;
      border-radius: 10px;
  }
}

// Imports

// Layouts
@import "./layouts/_footer";

// Homepage
@import "./homepage/_homepage";